
<div class="top position" style="height: 30px; border-bottom: 1px solid #ccc;">
	<img src="__PUBLIC__/img/home/img/22.png" style="height: 20px;">
	<span style="vertical-align: middle; margin: 0 10px;">首页 > 任务管理 > 任务大厅</span>
</div>

<div id="table" style="position: absolute; top: 50px; bottom: 60px; left: 10px; right: 10px; overflow: auto">

	<table class="table table-striped table-hover" style="background: #eee">
		<tr style="background: #333;color: #eee; font-weight: bold">
			<td style="width: 20px;"><input type="checkbox" class="ck_f"></td>
			<td style="width: 2em;">#</td>
			<td style="width: 20em;">目标单位</td>
			<td style="width: 15em;">目标项目</td>
			<td style="width: 15em;">备注</td>
			<td style="width: 3em;">状态</td>
			<td style="width: 11em;">发布日期</td>
			<td style="width: 60px;">操作</td>
		</tr>
		<volist name='list' id='l'>
		<tr>
			<td><input type="checkbox"></td>
			<td>{$l.id}</td>
			<td><a href="__MODULE__/Task/detail?id={$l.id}" >{$l.target}</a></td>
			<td>{$l.project}</td>
			<td>{$l.comment}</td>
			<td>
				<if condition="$l.state eq 0">
					<img src="__PUBLIC__/img/home/yes.png" alt="">
					<else />
					<img src="__PUBLIC__/img/home/no.png" alt="">
				</if>
			</td>
			<td>{$l.publish_time}</td>
			<td>
				<a href="__MODULE__/Task/accept?id={$l.id}" class="edit"><img src="__PUBLIC__/img/home/img/485.png"  style="height: 16px; margin-right: 5px;"></a>
				<a href="__MODULE__/User/user_detail?id={$l.id}" class="edit"><img src="__PUBLIC__/img/home/edit.png"  style="margin-right: 5px;"></a>
				<a href="__MODULE__/User/user_del?id={$l.id}" class="del" onclick="if(confirm('确认删除？')){return true}else{return false}"><img src="__PUBLIC__/img/home/delete.png" ></a>
			</td>
		</tr>
		</volist>
	</table>

</div>

<div class="buttom" style="position: absolute; bottom: 0;left: 10px; right: 10px; border-top: 1px solid #ccc; padding: 8px 0;">
	<button class="btn btn-sm btn-primary" onclick="window.location.href='__MODULE__/Task/add'">发布</button>
	<button class="btn btn-sm btn-default" id="check_all">全选</button>
	<button class="btn btn-sm btn-default" id="check_reverse">反选</button>
	<button class="btn btn-sm btn-default" id="check_none">全不选</button>
	<span style="margin: 0 10px;">对选中行进行</span>
	<button class="btn btn-sm btn-success" id="check_accept">接受</button>
	<button class="btn btn-sm btn-danger" id="check_del">删除</button>
	<span style="margin-left: 50px">共</span>
	<span style="font-size: 20px;color: red;"> {$record} </span>
	<span>条记录</span>
	<!--<span style="margin-left: 10px"> 1/2 </span>-->
	<!--<span>页</span>-->
</div>

<script>
	$("#check_all").click(function () {
		$("input[type=checkbox]").each(function (index,ele) {
			if(!$(ele).is(":checked")){
				$(ele).click();
			}
		});
	});
	$("#check_none").click(function () {
		$("input[type=checkbox]").each(function (index,ele) {
			if($(ele).is(":checked")){
				$(ele).click();
			}
		});
	});
	$("#check_reverse").click(function () {
		$("input[type=checkbox]").each(function (index,ele) {
			$(ele).click();
		});
	});
	$("#check_del").click(function () {
		$("input[type=checkbox]").each(function (index,ele) {
			if($(ele).is(":checked")){
				$(ele).parent().parent().children().eq(8).children().eq(1).click();
			}
		});
	});
</script>
